.container-avatar{
    margin-top:10px;
    display: flex;
    justify-content: center
}

.icon-center{
    display: flex;
    justify-content: center;
    
    
}
 .absolute{
position: absolute;
top: 3rem;
} 

/* .absolute{
    position: absolute;
      top: 4rem;
      right: 50%;
      background: none;
      border: none;
      z-index: 10;
    }  */

.MuiIcon-root {
   margin:0px;
}
.name-photo{
        display: "flex";
        justify-content: "center";
        margin-top: 5px;
}