.container-solicited{
    margin: 15px;
}

.container-status-wash{
    display: flex;
}
.status{
    color:#56CCF2;
}
.worker-added{
    height: 60px;
    margin-top: 10px;
    display: flex;
    background-color: #FAFAFA;
    align-items:center;
}
.worker-info{
    margin-left: 10px;
}
.order-summary{
    height: 60px;
    padding: 10px;
    background-color: #FAFAFA;
}
.btn-service-canceled{
   
    width: 100%;
    display: flex;
    justify-content: flex-end;
}