.MuiFormControl-root {
    width: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 60px;
}

h3, h4 {
    text-align: center;
}
.MuiButton-containedPrimary {
    margin: 5rem;
}

.forgetPass {
    text-align: right;
    color: #2F80ED;
}

.access {
    margin: 40px auto 0px;
}
.button1 {
    border-radius: 25px;
    margin-top: 20px;
    background: #101D49;  
}
  
.button1 p {
    color: #fff;   
    margin: 5px;
}

.button2 {
    border: 2px solid #101D49;
    border-radius: 25px;
    margin-top: 20px;
    width: 100%;
}

.button2 p {
    color: #101D49;   
    margin: 2px;
}
