.MuiFormControl-root {
    width: 100%;
}
.login {
    margin: 1rem 0 0 0;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h3, h4 {
    text-align: center;
}
.button {
    width: 100%;
}
